.post {
  display: grid;
  grid-template-columns: 1fr;
}

.post {
  padding: 20px;
  margin: 10px;
  background-color: lightgrey;
  color: grey;
}

.title {
  font-weight: bold;
}

.post:hover {
  background-color: white;;
}


@media (min-width: 768px) {
  .post {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}